@font-face {
    font-family: anastasia;
    src: url(fonts/Anastasia.ttf);


}

* {
    box-sizing: border-box
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #636363;
    height: 100%;
}


body {

    background: linear-gradient(to bottom, powderblue, white);
    margin: 20px;
    height: 100%;

}


.total {
    background-color: white;
    height: 100vh;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;

}

.vert {
    background-color: #e6eced;
    width: 300px;
    padding: 15px;
    height: 90vh;
    display: inline-block;
    overflow: scroll;


}

.little1 {
    background-color: white;
    width: 100vm;
    height: 150px;
    margin: 15px;
    padding: 10px;
    overflow: scroll;
    white-space: normal;
    box-shadow: 0 3px 6px 0 #b9c3c6;
}

.little2 {
    background-color: white;
    width: 100vm;
    height: 50px;
    margin: 15px;
    padding: 10px;
    overflow: scroll;
    white-space: normal;
    box-shadow: 0 3px 6px 0 #b9c3c6;

}

.little3 {
    background-color: white;
    width: 100vm;
    min-height: 150px;
    margin: 15px;
    padding: 10px;
    white-space: normal;
    box-shadow: 0 3px 6px 0 #b9c3c6;

}

.nastia {
    font-family: anastasia;
    font-size: 18px;
    color: cadetblue;

}

.bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;

}

.italic {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;

}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #bac8cb;
    border-radius: 9em;
}


div::selection {
    color: white;
    background-color: cadetblue;
}